







{{foeach subjects}}

<div class ="d-flex justify-content-Between">
    <a  href = "/subjects/{{_id}}">



{{name}}
</a>


<div>
    <a href="/subjects/{{_id}}/edit">
    Edit
    </a>
  Delete
</div>

</div>

{{/each}}


